<?xml version="1.0"?>
<launch>
    <arg name="world_alvar" default="$(find kobuki_tll2_control)/worlds/taller2.world"/>
    <arg name="robot_namespace" default="/kobuki"/>

    <!-- ************************************************************************ -->
    <!-- Launch Gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_alvar)"/> 
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
    </include>
</launch>